# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

mjp
.deps/*
.idea/*
src/mjp
src/.deps/*

Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.h
config.h.in
config.log
config.status
configure
data.txt
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
src/lib/.deps/*
src/lib/Makefile
src/lib/Makefile.in
stamp-h1


*.tar.gz
